{% extends "base.html" %}
{% block subtitle %}Event listings{% endblock subtitle %}
{% block content %}
<h1>Deferred event entry demo site.</h1>
<p>List of available events, click to enter.</p>
{% for event in object_list %}
<a href="{{ event.get_absolute_url }}"><p>{{ event.name }}</p></a>
{% empty %}
    <p>No events!</p>
{% endfor %}
{% endblock content %}