{% extends "base.html" %}
{% block subtitle %}Event listings{% endblock subtitle %}
{% block content %}
{# Presents the event entry form - for development speed, we will let Django lay the form out for us #}
<h1>Please provide details for entering the "{{ event.name }}" event</h1>
<form action="." method="post">
    {% csrf_token %}
     {{ form.as_p }}
    <input type="submit" value="Enter event" />
</form>
{% endblock content %}