{% extends "base.html" %}
{% block subtitle %}Event login{% endblock subtitle %}
{% block content %}
{% comment %}
Presents the login form which splits between email and password.
Login using email then for existing user they are challenged with the password OR
they are directed onto entry.
{% endcomment %}
<h1>{% if email %}Please provide your email.{% else %}Please provide a password.{% endif %}</h1>
<form action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Proceed" />
</form>
{% endblock content %}