{% extends "base.html" %}
{% block subtitle %}404 not found{% endblock subtitle %}
{% block content %}
<!-- Begin fantastic design!!! -->
<h1>Page not found.</h1>
<p>This page does not exist!</p>
{% endblock %}