<html>
{% comment %}
Base template inherited by all other templates
{% endcomment %}
<head>
<title>Event Demo:{% block subtitle %}{% endblock subtitle %}</title>
</head>
<body>
<div>
    {% block content %}Define content block!{% endblock content %}
</div>
</body>
</html>